<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hello_docker.name %>
</p>

<%= link_to 'Edit', edit_hello_docker_path(@hello_docker) %> |
<%= link_to 'Back', hello_dockers_path %>
